COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
focus_tab_parent
install-sh
missing
next_tab
.deps
.dirstamp
*.o
stamp-h1
